name: Deploy Document
on:
  push:
    branches: [ main ]
jobs:
  build-document:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Compile document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
      - name: Deploy result
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: .
